<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/MyPageModify.css">
    <title>MyPageModify</title>
</head>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
</style>

<body>
<img onclick="history.back()" src="/images/Back.png" style="width: 30px; margin-top: 5px; margin-left: 5px;">

<div style="text-align: center; margin-top: -30px;">
  <h1>My Page</h1>
  <img src="/images/Belt.png" style="width: 90%">
</div>

<br>

<div class="container">
  <img src="/images/Circle.png" class="circle">
  <h2>Profile</h2>
</div>

<form action="/myPage/modify" method="post">
  <input style="margin-top: 5px" type="text" id="name" name="name" th:value="${user.userName}"><br>
  <input type="text" id="uid" th:value="${user.uid}" readonly><br>
  <input type="password" id="password" name="password" placeholder="Password(Must be more than 8 characters)"><br>
  <div th:text="${passwordError}" style="color: red;"></div>
  <input class="modify" type="submit" value="Edit">
</form>
</body>
</html>