<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<!--
작성자: 김민정 / 김도연
파일명: OverallRank
설명: (12번) 전체 랭킹 페이지
      페이지 디자인/배치: 김민정
      table 타임리프 코드 작성: 김도연
-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/OverallRank.css">
    <title>OverallRank</title>
</head>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
</style>

<body>
<img onclick="history.back()" src="/images/Back.png" style="width: 30px; margin-top: 5px; margin-left: 5px;">

<div style="text-align: center; margin-top: -30px;">
  <h1>Overall Rank</h1>
  <img src="/images/belt.png" style="width: 90%">
</div>

<table th:each="rankLis, iterStat : ${rankList}" style="width: 90%;">
  <tbody>
  <tr th:style="${iterStat.index == 0} ? 'background-color: #F9EAAF;' : (${iterStat.index == 1} ? 'background-color: #E9E1D8;' : (${iterStat.index == 2} ? 'background-color: #DBC8BF;' : ''))">
    <td th:text="|${iterStat.count}|" class="rank"><h3>1</h3></td>
    <td><h3 th:text="${rankLis.userName}">{userName}</h3></td>
    <td th:text="${rankLis.userPoint}" class="totalCount"><h3>99</h3></td>
  </tr>
<!--
  <tr th:style="${iterStat.index == 0} ? 'background-color: #E9E1D8;' : ''">
    <td th:text="|${iterStat.count}|" class="rank"><h3>2</h3></td>
    <td><h3 th:text="${rankLis.userName}">{userName}</h3></td>
    <td th:text="${rankLis.userPoint}" class="totalCount"><h3>90</h3></td>
  </tr>

  <tr th:style="${iterStat.index == 0} ? 'background-color: #DBC8BF;' : ''">
    <td th:text="|${iterStat.count}|" class="rank"><h3>3</h3></td>
    <td><h3 th:text="${rankLis.userName}">{userName}</h3></td>
    <td th:text="${rankLis.userPoint}" class="totalCount"><h3>80</h3></td>
  </tr>

  <tr>
    <td th:text="|${iterStat.count}|" class="rank"><h3>4</h3></td>
    <td><h3 th:text="${rankLis.userName}">{userName}</h3></td>
    <td th:text="${rankLis.userPoint}" class="totalCount"><h3>70</h3></td>
  </tr>
  -->
  </tbody>
</table>
</body>
</html>