<!DOCTYPE html>
<html lang="en">

<!--
작성자: 김민정
파일명: OverallRank
설명: (12번) 전체 랭킹 페이지
-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/OverallRank.css">
    <title>OverallRank</title>
</head>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
</style>

<body>
<img onclick="history.back()" src="/images/Back.png" style="width: 30px; margin-top: 5px; margin-left: 5px;">

<div style="text-align: center; margin-top: -30px;">
  <h1>Overall Rank</h1>
  <img src="/images/belt2.png" style="width: 90%">
</div>

<h4 style="margin-left: 20px;">Reset at 00:00</h4>

<table style="width: 90%;">
  <tbody>
  <tr style="background-color: #F9EAAF;">
    <td class="rank"><h3>1</h3></td>
    <td><h3>{userName}</h3></td>
    <td class="totalCount"><h3>99</h3></td>
  </tr>

  <tr style="background-color: #E9E1D8;">
    <td class="rank"><h3>2</h3></td>
    <td><h3>{userName}</h3></td>
    <td class="totalCount"><h3>90</h3></td>
  </tr>

  <tr style="background-color: #DBC8BF;">
    <td class="rank"><h3>3</h3></td>
    <td><h3>{userName}</h3></td>
    <td class="totalCount"><h3>80</h3></td>
  </tr>

  <tr>
    <td class="rank"><h3>4</h3></td>
    <td><h3>{userName}</h3></td>
    <td class="totalCount"><h3>70</h3></td>
  </tr>
  </tbody>
</table>
</body>
</html>