<!DOCTYPE html>
<html lang="en">

<!--
작성자: 김도연
파일명: QuizList
설명: (27번) 퀴즈 메뉴를 보여주는 페이지, 김민정이 추가 디자인
-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/QuizList.css">
    <title>QuizList</title>
</head>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
</style>

<body>
    <div style="text-align: center;">
        <h1>Quiz</h1>
        <img src="/images/Belt.png" style="width: 90%">
    </div>

    <div class="innerButton">
        <button onclick="location.href='/BookLis'" class="guessingWord">Guessing words</button>
        <button onclick="location.href='/spacingCorrectionList'" class="spacingCorrection">Spacing Correction</button>
    </div>

    <div class="innerButton">
        <button class="guessSentence">Listen and guess the sentences</button>
        <button class="writeSentence">Listen and write sentences</button>
    </div>

    <nav class="BottomNavigation">
        <a href="/camera">
            <img class="CameraButton" src="images/NotSelectedCamera.png" style="width: 9%;">
        </a>
        <a href="/translator">
            <img class="TranslationButton" src="images/NotSelectedTranslation.png" style="width: 8%;">
        </a>
        <a href="/home">
            <img class="HomeButton" src="images/HomeButton.png" style="width: 11%;">
        </a>
        <a href="/QuizList">
            <img class="QuizButton" src="images/NotSelectedQuiz.png" style="width: 7%;">
        </a>
        <a href="vocaList">
            <img class="WordBookButton" src="images/NotSelectedWordBook.png" style="width: 6%;">
        </a>
    </nav>
</body>
</html>